.graph-box {
  position: relative;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.result {
  position: absolute;
  z-index: 10;
  top: 50px;
  font-size: 50px;
  font-weight: bold;
}

.graph-box .result.animation-ended {
  color: #f14e5f;
}

@media screen and (max-width: 576px) {
  .graph-box {
    height: 280px;
  }

  .result {
    top: 35px;
    font-size: 42px;
  }
}
